<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Displaying Static Text With UILabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F41CEBB1BD8DAC30095065C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F41CECF1BD8DAC40095065C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F41CEDA1BD8DAC40095065C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
