<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loading Web Pages with WebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FBF34931BE7918100D2F3AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FBF34A71BE7918100D2F3AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FBF34B21BE7918100D2F3AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
