<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Picking The Date And Time with UIDatePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F4876861BDE69D1001B63CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F48769A1BDE69D1001B63CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F4876A51BDE69D1001B63CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
