<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playing Audio Files.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FFFB3121C1040A2002A627D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FFFB3261C1040A3002A627D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FFFB3311C1040A3002A627D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
