<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Learning CoreLocation and MapKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F961C4C1BF9D6B200B10178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F961C601BF9D6B300B10178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F961C6B1BF9D6B300B10178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
