<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Picking Values Using the UIPickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F0D22CB1BDE178500A7675A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0D22DF1BDE178500A7675A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0D22EA1BDE178500A7675A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
