<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>What Is My Date of Birth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F0D23051BDE2AAA00A7675A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0D23191BDE2AAA00A7675A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0D23241BDE2AAA00A7675A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
